---
layout: default
bodyClass: "page-home"
---

<div class="intro pb-3"> <!-- Adjusted padding-bottom -->
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="section-title mb-3">
        <h1>Notre offre</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="border rounded p-3 h-100 mb-4">
        <h2>Notre expertise</h2>
        <ul class="custom-ul">
          <li>
            <strong>Environmental and ecological Data Science</strong>
            <ul>
              <li>Modélisation prédictive pour la gestion de l'environnement</li>
              <li>Modélisation de la pertinence des habitats pour la planification de la conservation</li>
              <li>Prévision des impacts environnementaux pour les projets industriels</li>
              <li>Évaluation de l'impact climatique sur la productivité agricole</li>
              <li>Analyse des données pour optimiser la gestion des ressources en eau dans l'agriculture et la planification urbaine</li>
              <li>Etc.</li>
            </ul>
          </li>
          <li>
            <strong>Data for Sustainability (Environmental, Social and Governance (ESG) analytics)</strong>
            <ul>
              <li>Évaluer l'empreinte environnementale, les impacts sociétaux et les structures de gouvernance de votre organisation, et cibler les domaines clés pour des changements durables.</li>
            </ul>
          </li>
          <li>
            <strong>Conseils et coaching pour les projets environnementaux et/ou écologiques</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="border rounded p-3 h-100 mb-4">
        <h2>Autres services</h2>
        <ul class="custom-ul">
          <li>
            <strong>Organisation de données</strong>
            <ul>
              <li>Intégration de données réparties sur différents systèmes</li>
              <li>Nettoyage de données manquantes, incohérentes ou incorrectes</li>
            </ul>
          </li>
          <li>
            <strong>Efficacité opérationnelle et optimisation des processus</strong>
            <ul>
              <li>Automatisation de tâches et processus répétitifs</li>
              <li>Solutions analytiques évolutives pour gérer du big data</li>
            </ul>
          </li>
          <li>
            <strong>Data Analytics</strong>
            <ul>
              <li>Analyses descriptives, diagnostiques, prédictives et prescriptives pour obtenir des insights pertinents à partir de vos données</li>
            </ul>
          </li>
          <li>
            <strong>Generative AI</strong>
            <ul>
              <li>Développement de chatbots pour répondre aux questions en fonction du contexte et résumer de longs documents et sites web</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="text-center mb-4">
        <h3>Contactez-nous dès maintenant pour une consultation gratuite !</h3>
      </div>
    </div>
  </div>
</div>


<!-- Expériences section -->
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="section-title mb-3">
        <h1>Expériences</h1>
      </div>
    </div>
  </div>

  <!-- First Experience -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="experience-item">
        <div class="experience-details">
          <p>
            <strong>mai 2024 - aujourd'hui : Association Osm'OZ</strong><br>
            <em>Data scientist freelance</em>
            Missions :
          </p>
          <ul class="pl-3">
            <li>Développement d'un chatbot basé sur une base de données vectorielles (générée à partir de PDFs et de pages web) et des LLM, avec python et langchain</li>
            <li>Développement du prompt engineering et l'écriture assistée par l'IA pour la recherche et la génération de contenu</li>
          </ul>
          <p>
            Languages et outils:
            <ul class="pl-3">
              <li>Python, LLMs, Deep Learning, Langchain, Vector database, RAG</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Experience -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="experience-item">
        <div class="experience-details">
          <p>
            <strong>2019 - 2022 : Laboratoire Écologie et Diversité Biologique, Université Toulouse III</strong><br>
            <em>Chercheuse postdoc</em>
            Fonctions:
          </p>
          <ul class="pl-3">
            <li>analyses statistiques de données génomiques et écologiques, maintien de base de données</li>
            <li>rédaction de manuscrits, développement d'activités de sensibilisation, gestion du budget du projet, organisation des réunions de groupe récurrentes, encadrement des masters et des doctorants.</li>
          </ul>
          <p>
            Languages et outils:
            <ul class="pl-3">
              <li>R, Bash scripting, Analyse de données, Base de données, Statistiques, GIS, Data visualisation</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Langages et Outils utilisés section -->
<div class="container icon-section pt-2 pb-2 pb-md-3"> <!-- Added icon-section class -->
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="section-title">
        <h1>Langages et Outils utilisés</h1>
      </div>
    </div>
    <div class="col-12">
      <div class="langages-outils-images">
        <div class="row justify-content-center icon-row"> <!-- Added icon-row class -->
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/UbuntuCoF.svg" alt="Ubuntu">
            Ubuntu
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/RStudio_logo_flat.svg" alt="RStudio">
            RStudio
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Sql_data_base_with_logo.svg" alt="SQL">
            SQL
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/sqlite-icon.svg" alt="SQLite">
            SQLite
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Git-Icon-1788C.svg" alt="Git">
            Git
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Python-logo-notext.svg" alt="Python">
            Python
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Jupyter_logo.svg" alt="Jupyter notebook">
            Jupyter notebook
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Pandas_logo.svg" alt="pandas">
            pandas
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/NumPy_logo_2020.svg" alt="numpy">
            numpy
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/statsmodels-logo-v2-no-text.svg" alt="statsmodels">
            statsmodels
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Matplotlib_icon.svg" alt="matplotlib">
            matplotlib
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/seaborn_logo-mark-lightbg.svg" alt="seaborn">
            seaborn
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/plotly-icon.svg" alt="plotly">
            plotly
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Scikit_learn_logo_small.svg" alt="scikit-learn">
            scikit-learn
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Tensorflow_logo.svg" alt="tensorflow">
            tensorflow
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Keras_logo.svg" alt="keras">
            keras
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/fastapi-1.svg" alt="fastAPI">
            fastAPI
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/streamlit-mark-color.svg" alt="streamlit">
            streamlit
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/docker-svgrepo-com.svg" alt="Docker">
            Docker
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/google-cloud-3.svg" alt="Google Cloud">
            Google Cloud
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Google_Storage-Logo.wine.svg" alt="Google Storage">
            Google Storage
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/google-compute-engine-seeklogo.svg" alt="Google Compute Engine">
            Google Compute
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/google_bigquery-icon.svg" alt="Google BigQuery">
            Google BigQuery
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Google_Colaboratory_SVG_Logo.svg" alt="Google Colab">
            Google Colab
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/langchain-seeklogo.svg" alt="LangChain">
            LangChain
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/OpenAI_Logo.svg" alt="OpenAI">
            OpenAI
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/ChatGPT_logo.svg" alt="ChatGPT">
            ChatGPT
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Hugging_Face_logo.svg" alt="Hugging Face">
            Hugging Face
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Microsoft_Office_Excel.svg" alt="Microsoft Excel">
            Microsoft Excel
          </div>
          <div class="col-4 col-md-2 mb-3">
            <img width="28" height="28" src="images/tools/Google_Sheets_logo_(2014-2020).svg" alt="Google Sheets">
            Google Sheets
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
